body{
    margin: 0;
    padding: 0;
    background: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.body{
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.content-table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.content-table thead tr{
    background-color: rgba(241, 42, 102, 0.836);
    color: white;
    text-align: left;
    font-weight: bold;

}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    color: lightgray;
    font-weight: 500;
}
.content-table tbody tr:nth-of-type(even){
    background: rgba(241, 42, 102, 0.6);
}
.content-table tbody tr:nth-of-type(odd){
    background: rgba(6, 4, 160,0.6);
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #f7497d;
}